{{extend 'layout.html'}}
<h1>{{=message}}</h1>
<span>{{=A("RIA Create/Edit operations", _href=URL(a="gestionlibre", c="operations", f="ria_movements"))}}</span> | <span>{{=A('New fee', _href=URL(a="gestionlibre", c='fees', f='create_fee'))}}</span> | <span>{{=A('Fees', _href=URL(a="gestionlibre", c='fees', f='list_fees'))}}</span>
{{=H3("Operations list")}}

{{=SQLTABLE(operations, columns=["operation.operation_id", "operation.code","operation.description","operation.posted"], headers={
"operation.operation_id": "Edit", "operation.code": "Code","operation.description": "Description","operation.posted": "Posted"}, linkto=URL(a="gestionlibre", c="operations", f="ria_movements"))}}
